################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/oop_project/x64/Debug
